@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600;1,700&display=swap');
body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-color: #444;
    background-size: cover;
    color: #fff;
}
a, h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    color: #fff !important;
    text-decoration: none !important;
}
a.portfolio:hover, a.contact:hover {
    font-style: italic !important;
}
h1 a.contact:hover span{
    display: none;
}

h1 a.contact:hover:after{
    content: 'g-p@gmx.ch';
    text-transform: lowercase;
}


#main {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}